* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: var(--blackFontColor);
    &:active{
        color: inherit;
    }
  }
  html {
    background-color: var(--htmlwhiteBackground);
  }
  :root {
    --htmlBlackBackground: #0D0D0D;
    --htmlwhiteBackground: #f3f3f3;
    --divWhiteBackground: #f8f8f8;
    --divBlackBackground: #292929;
    --whiteFontColor: white;
    --blackFontColor: rgb(94, 94, 94);
    --shawod: 1px 1px 5px 3px #c9c9c9;
    --fontWeight:500;
  }
  @mixin center{
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
  }
  @mixin vertical-center{
    position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  @mixin horizatal-center{
    position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }