* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    color: var(--blackFontColor);
    &:active{
        color: inherit;
    }
  }
  html {
    background-color: var(--htmlWhiteBackground);
  }
  :root {
    --htmlBlackBackground: #0D0D0D;
    --htmlWhiteBackground: #f3f3f3;
    --divWhiteBackground: #f8f8f8;
    --divBlackBackground: #292929;
    --whiteFontColor: white;
    --blackFontColor: rgb(94, 94, 94);
    --lightGray: rgb(211, 211, 211);
    --DarkGray: rgb(211, 211, 211);
    --shawod: 1px 1px 5px 3px #c9c9c9;
    --fontWeight:500;
    --backgroundColor: #f8f8f8;
  }
  .relatedColors{
    background-color: var(--backgroundColor);
    color: var(--blackFontColor);
  }
  
  .aplayer.aplayer-fixed .aplayer-body {
    left: -66px;
}